    <body>

        <div class="main-container">

            <!-- HEADER -->
            <header class="block">
                <ul class="header-menu horizontal-list">
                    <li>
                    <%= link_to(root_path, :class => 'header-menu-tab') do%>
                        <span class="icon entypo-paper-plane scnd-font-color"></span>Message Board
                    <% end %>
                    </li>
                    
                </ul>
                <ul class="profile-menu horizontal-list">
                    <li>
                    <p class="profile-name">
                       <span class="icon fontawesome-user"></span>
                       <%= current_user.email%> <a href="#"></a></p>
                    </li>
                    <li>
                    <%= link_to(destroy_user_session_path, :class => 'header-menu-tab', :method => :delete) do%>
                        <span class="icon entypo-cog scnd-font-color"></span>Logout
                    <% end %>
                    </li>
                </ul>
            </header>

            <!-- LEFT-CONTAINER -->
            <div class="left-container container">
                <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
                    <h2 class="titular">MENU BOX</h2>
                    <ul class="menu-box-menu">
                        <li>
                            <a class="menu-box-tab" href="#6"><span class="icon fontawesome-envelope scnd-font-color"></span>Messages<div class="menu-box-number">24</div></a>                            
                        </li>
                        <li>
                            <a class="menu-box-tab" href="#8"><span class="icon entypo-paper-plane scnd-font-color"></span>Invites<div class="menu-box-number">3</div></a>                            
                        </li>
                        <li>
                            <a class="menu-box-tab" href="#10"><span class="icon entypo-calendar scnd-font-color"></span>Events<div class="menu-box-number">5</div></a>                            
                        </li>
                        <li>
                            <a class="menu-box-tab" href="#12"><span class="icon entypo-cog scnd-font-color"></span>Account Settings</a>
                        </li>
                        <li>
                            <a class="menu-box-tab" href="#13"><sapn class="icon entypo-chart-line scnd-font-color"></sapn>Statistics</a>
                        </li>                        
                    </ul>
                </div>

            <div class="calendar-month block"> <!-- CALENDAR MONTH (RIGHT-CONTAINER) -->
                <div class="arrow-btn-container">
                    <a class="arrow-btn left" href="#202"><span class="icon fontawesome-angle-left"></span></a>
                    <h2 class="titular">APRIL 2013</h2>
                    <a class="arrow-btn right" href="#203"><span class="icon fontawesome-angle-right"></span></a>
                </div>
                <table class="calendar">
                    <thead class="days-week">
                        <tr>
                            <th>S</th>
                            <th>M</th>
                            <th>T</th>
                            <th>W</th>
                            <th>R</th>
                            <th>F</th>
                            <th>S</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a class="scnd-font-color" href="#100">1</a></td>
                        </tr>
                        <tr>
                            <td><a class="scnd-font-color" href="#101">2</a></td>
                            <td><a class="scnd-font-color" href="#102">3</a></td>
                            <td><a class="scnd-font-color" href="#103">4</a></td>
                            <td><a class="scnd-font-color" href="#104">5</a></td>
                            <td><a class="scnd-font-color" href="#105">6</a></td>
                            <td><a class="scnd-font-color" href="#106">7</a></td>
                            <td><a class="scnd-font-color" href="#107">8</a></td>
                        </tr>
                        <tr>
                            <td><a class="scnd-font-color" href="#108">9</a></td>
                            <td><a class="scnd-font-color" href="#109">10</a></td>
                            <td><a class="scnd-font-color" href="#110">11</a></td>
                            <td><a class="scnd-font-color" href="#111">12</a></td>
                            <td><a class="scnd-font-color" href="#112">13</a></td>
                            <td><a class="scnd-font-color" href="#113">14</a></td>
                            <td><a class="scnd-font-color" href="#114">15</a></td>
                        </tr>
                        <tr>
                            <td><a class="scnd-font-color" href="#115">16</a></td>
                            <td><a class="scnd-font-color" href="#116">17</a></td>
                            <td><a class="scnd-font-color" href="#117">18</a></td>
                            <td><a class="scnd-font-color" href="#118">19</a></td>
                            <td><a class="scnd-font-color" href="#119">20</a></td>
                            <td><a class="scnd-font-color" href="#120">21</a></td>
                            <td><a class="scnd-font-color" href="#121">22</a></td>
                        </tr>
                        <tr>
                            <td><a class="scnd-font-color" href="#122">23</a></td>
                            <td><a class="scnd-font-color" href="#123">24</a></td>
                            <td><a class="scnd-font-color" href="#124">25</a></td>
                            <td><a class="today" href="#125">26</a></td>
                            <td><a href="#126">27</a></td>
                            <td><a href="#127">28</a></td>
                            <td><a href="#128">29</a></td>
                        </tr>
                        <tr>
                            <td><a href="#129">30</a></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- end calendar-month block --> 
            </div>
            <!-- MIDDLE-CONTAINER -->
            <div class="middle-container container">
                <% @posts.each do |post| %>
                  <%= render partial: 'posts/each', locals: {post: post} %>
                <% end %>
                
            </div>

            <!-- RIGHT-CONTAINER -->
            <div class="right-container container">
                <div class="post-message block"> 
                    <h2 class="titular">POST A MESSAGE</h2>
                    <%= form_for :post, :url => '/posts' do |f| %>
                      <%= f.text_field :title, :id => 'title_input', :placeholder => 'Title', :required => true, :maxlength => '22'%><br />
                      <%= f.text_area :message, :id => 'message_input', :placeholder => 'Whats on your mind?', :required => true %><br />
                      <%= f.submit 'POST', :class => 'subscribe button' %>
                    <% end %>
                </div>
                <div class="account block"> <!-- ACCOUNT (RIGHT-CONTAINER) -->
                    <h2 class="titular">SIGN IN TO YOUR ACCOUNT</h2>
                    <div class="input-container">
                        <input type="text" placeholder="yourname@gmail.com" class="email text-input">
                        <div class="input-icon envelope-icon-acount"><span class="fontawesome-envelope scnd-font-color"></span></div>
                    </div>
                    <div class="input-container">
                        <input type="text" placeholder="Password" class="password text-input">
                        <div class="input-icon password-icon"><span class="fontawesome-lock scnd-font-color"></span></div>
                    </div>
                    <a class="sign-in button" href="#22">SIGN IN</a>
                    <p class="scnd-font-color">Forgot Password?</p>
                    <a class="fb-sign-in" href="58">
                        <p><span class="fb-border"><span class="icon zocial-facebook"></span></span>Sign in with Facebook</p>
                    </a>
                </div>
                
            </div> <!-- end right-container -->
        </div> <!-- end main-container -->
    </body>
