
<div class="block">
  <%= reply_helper(post) %>
  <h2 class="title titular"><%= post.title %></h2>
  <div class="profile-description">
    <div class="user-sign">
      <p> posted by <%="#{post.user.email}"%></p>
    </div>
    <p class="scnd-font-color"><%= post.message %></p>
  </div>
  <div class="timestamp">
    <p class="center-date"><%= post.readable_time %></p>
  </div>
</div>